section.section-contacts#contacts
	.container
		.section-contacts-title
			h3.title Контакты

		.section-contacts-wrap

			.contacts-content
				.contacts__desc
					p
						| Если вы ищите специалиста по верстке сайтов, front-end разработчика в команду или для работы над проектом — напишите мне.
				ul.contacts__contact-list
					li.contact-list__item
						.contact-list__item-name Email
						.contact-list__item-desc 
							a(href="mailto:alex.degt.w@gmail.com").link alex.degt.w@gmail.com
					li.contact-list__item
						.contact-list__item-name Skype
						.contact-list__item-desc 
							a(href="skype:lnonstopenergyl?chat").link lnonstopenergyl
					li.contact-list__item
						.contact-list__item-name Телефон
						.contact-list__item-desc 
							a(href="tel:+380679711523").link-tel +3 (8067) 97-11-523
					li.contact-list__item
						.contact-list__item-name Адрес
						.contact-list__item-desc Украина, Северодонецк
				+social-icons()
				img(src="img/dots.png" alt="dots").dots

			form.contacts-form#contacts-form
				input(type="hidden" name="project_name" value="myportfolio.ru")
				input(type="hidden" name="padmin email" value="myfuturemail@gmail.com")
				input(type="hidden" name="email_from" value="myportfolio.ru")

				label.contacts-form__label
					input(type="email" name="email").contacts-form__input
					span.fake-placeholder Ваш Email
				label.contacts-form__label
					input(type="text" name="theme").contacts-form__input
					span.fake-placeholder Тема письма
				label.contacts-form__label.contacts-form__label--message
					textarea(name="message").contacts-form__input.contacts-form__input-message
					span.fake-placeholder Сообщение
				input(type="submit" value="Отправить").button.button-form
			#answer
