footer.footer
	.container
		.footer-copy © 2020 — Алексей Дегтярев
		.footer-text
			p
				| Веб-разработик из Северодонецка, занимаюсь версткой и созданием сайтов. 
				br
				| Этот сайт сделан в рамках прохождения обучения по верстке на курсах от 
				a(href="https://webcademy.ru/" target="_blank").footer-link WebCademy.ru
