footer.footer-inner
	.footer-inner__title За созданием сайта:
	.footer-inner__desc обращайтесь на 
		a(href="mailto:alex.degt.w@gmail.com").footer-inner__mail alex.degt.w@gmail.com
	.footer-inner__social
		+social-icons()
	.footer-background
		img(src="img/backgrounds/mountains.png" alt="mountains")
