section.header-skills#skills
	.container
		.skills-wrap
			.skills-about
				h3.skills-title Что я умею:
				ul.skills-list
					li.skills-list__item 
						| Pixel perfect, полное соответствие макету.
					li.skills-list__item 
						| Верстаю с сеткой или без.
					li.skills-list__item 
						| Адаптивная верстка под мобильные устройства.
					li.skills-list__item 
						| Оптимизация под retina экраны.
					li.skills-list__item 
						| С Bootstrap и без него.
				a(href="#portfolio").button Смотреть работы
			.skills-contant
				h3.skills-title На связи:
				+social-icons-skills()
				a(href="mailto:alex.degt.w@gmail.com").skills-mail alex.degt.w@gmail.com
