section.section-about#section-about
	.container
		.section-about-wrap
			.section-about__title
				h3.title Как я работаю

			.about-wrap

				+timeline-item(
				'right',
				'layers.png',
				'Оцениваю макет', 
				'Оцениваю объем работы, сложность, нюансы. Задаю вопросы.', 
				'Время: 2 - 4 часа')
				+timeline-item(
				'left',
				'presentation-chart.png', 
				'ТЗ, смета и график работ', 
				'Согласовываем техническое задание и график работ по проекту. Осмечиваю стоимость по этапам работы.', 
				'Время: 2 - 4 часа')
				+timeline-item(
				'right',
				'24-hours.png', 
				'Вы держите руку на пульсе', 
				'Выдаю клиенту доступ к GitHub репозиторию и доске Trello. Вы в любое время можете видеть актуальное состояние проекта и задач.', 
				'Время: 2 часа')
				+timeline-item(
				'left',
				'code-alt.png',
				'Выполняю каждый этап', 
				'Поочередно выполняю каждый этап работы. Передаю результаты. Заказчик производит поэтапную оплату.', 
				'Время: 2 - 4 часа')
				+timeline-item(
				'right',
				'diamond.png',
				'Финальное ревью проекта', 
				'Проект готов. Финальное ревью и полировка до идеального состояния. Передаю файлы проекта, заливаю сайт на хостинг заказчика.', 
				'Время: 2 - 4 часа')

