section.section-project
	.container
		+project-card([
			{title: 'Проект "ЮНИТ"',
			linkDemo: 'https://alex-degt.github.io/Unit/',
			linkGit: 'https://github.com/alex-degt/Unit/',
			projectDesc: 'Здесь должен быть текст с описанием работы, но я не смог ничего придумать. Но он обязательно появится. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.',
			klientName: 'ООО “Медиамаркет”',
			projectName: '"ЮНИТ"',
			workDetails: 'Адаптивная верстка, HTML5, CSS3, JavaScript, jQuery.',
			projectFeatures: 'Мобильная навигация, карусель OwlCarousel.',
			img: 'UNIT',
			buttonPrev: '#!',
			buttonNext: '#!'}
			])

