mixin header-nav(headerWrapper, headerClass)
	div(class=" " + headerWrapper)#header-fixed
		.header-nav
			a(href="index.html").logo АД
			nav.nav
				a(href="index.html").nav__link Главная
				a(href="portfolio.html").nav__link Работы
				a(href="contacts.html").nav__link Контакты
			.header-soc
				a(href="https://github.com/alex-degt" target="_blank").header-soc__link.header-soc__link--gh
					i.fab.fa-github
				a(href="https://t.me/alex_degt/" target="_blank").header-soc__link.header-soc__link--td
					i.fab.fa-telegram-plane
				a(href="viber://add?number=380679711523" target="_blank").header-soc__link.header-soc__link--vb
					i.fab.fa-viber
			.nav-toggle-wrap
				.nav-toggle#nav-toggle
