mixin mobile-nav()
	.mobile-nav#mobile-nav
		a(href="index.html").logo__mobile АД
		.main-nav--mobile
			a(href="index.html").nav__link--mobile Главная
			a(href="portfolio.html").nav__link--mobile Работы
			a(href="contacts.html").nav__link--mobile Контакты
		+social-icons()
		a(href="mailto:alex.degt.w@gmail.com").skills-mail alex.degt.w@gmail.com