mixin project-card(objData)
	each item in objData
		.project-title
			span.line-bottom--medium #{item.title}
		.project-labels
			.label__html HTML
			.label__css CSS
			//- .label__boot Bootstrap
			.label__js JS
			.label__jQuery jQuery
			//- .label__PHP PHP

		.project-card-wrap

			.project-card-content
				.project-card__inner-wrap
					.project-card-references
						.references__title
							.title--small Ссылки на проект
						.references__links
							a(href=" " + item.linkDemo target="_blank").references__link-window Смотреть демо онлайн
							a(href=" " + item.linkGit target="_blank").references__link-github Код проекта на GitHub
					.project-card-about
						.about__title
							.title--small О проекте
						.about__desc
							p
								| #{item.projectDesc}
				.project-card-details
					.details__title
						.title--small Детали
					.details-desc
						.details-desc__name Верстка:
						.details-desc__text #{item.workDetails}
					.details-desc
						.details-desc__name Особенности:
						.details-desc__text #{item.projectFeatures}

			.project-card-img
				img(src="img/portfolio/" + item.img + ".jpg" , alt=" " + item.titleSecond)

		.project-card-buttons
			a(href=" " + item.buttonPrev).button-prev Предыдущий проект
			a(href=" " + item.buttonNext).button-next Следующий проект

