mixin social-icons-skills()
	.soc-block.soc-block--skills
		a(href="https://github.com/alex-degt" target="_blank").soc-item.soc-item--gh
			i.fab.fa-github-alt
		a(href="https://t.me/alex_degt" target="https://t.me/alex_degt").soc-item.soc-item-tg
			i.fab.fa-telegram-plane
		a(href="https://wa.me/380679711523" target="_blank").soc-item.soc-item--wa
			i.fab.fa-whatsapp
		a(href="viber://add?number=380679711523" target="_blank").soc-item.soc-item--vb
			i.fab.fa-viber

mixin social-icons()
	.soc-block
		a(href="https://github.com/alex-degt" target="_blank").soc-item.soc-item--gh
			i.fab.fa-github-alt
		a(href="https://t.me/alex_degt" target="_blank").soc-item.soc-item-tg
			i.fab.fa-telegram-plane
		a(href="https://wa.me/380679711523" target="_blank").soc-item.soc-item--wa
			i.fab.fa-whatsapp
		a(href="viber://add?number=380679711523" target="_blank").soc-item.soc-item--vb
			i.fab.fa-viber