extends ./../layouts/main.pug

block variables
	- const title = "Главная | Алексей Дегтярев";

block content
	include ../sections/_header.pug
	include ../sections/_portfolio-main-page.pug
	include ../sections/_how-we-work.pug
	include ../sections/_contacts.pug
	include ../sections/_footer.pug
	.background#background
	+mobile-nav()