extends ./../layouts/main.pug

block variables
	- const title = "Портфолио | Алексей Дегтярев";

block content
	.portfolio-page
		+header-nav('header-nav-wrap--portfolio')
		section.section-portfolio.section-portfolio--inner#portfolio
			.container
				.portfolio-title.portfolio-title--inner
					h3.title Портфолио
				+cardBlock([
					{addClass: 'portfolio-card', cardClass: 'card__img', img: 'metallex', link: 'project-metallex.html', titleClass: 'card__title', title: 'Metallex', textClass: 'card__text', text: 'Производитель оборудования из металла.'},
					{addClass: 'portfolio-card', cardClass: 'card__img', img: 'online-cinema', link: 'project-cinema.html', titleClass: 'card__title', title: 'Online cinema', textClass: 'card__text', text: 'Интернет-сервис о кино.'},
					{addClass: 'portfolio-card', cardClass: 'card__img', img: 'lambda', link: 'project-lambda.html', titleClass: 'card__title', title: 'Lambda', textClass: 'card__text', text: 'Ресторан греческой кухни.'},
					{addClass: 'portfolio-card', cardClass: 'card__img', img: 'unit', link: 'project-unit.html', titleClass: 'card__title', title: 'ЮНИТ', textClass: 'card__text', text: 'Верстка одностраничного сайта.'}
					])
			
		include ../sections/_footer-inner.pug
	.background#background
	+mobile-nav()
