extends ./../layouts/main.pug

block variables
	- const title = "Cinema | Алексей Дегтярев";

block content
	.project-page
		+header-nav('header-nav-wrap--project','header-nav header-nav-inner')
		section.section-project
			.container
				+project-card([
					{title: 'Проект "Cinema"',
					linkDemo: 'https://alex-degt.github.io/online-cinema/',
					linkGit: 'https://github.com/alex-degt/online-cinema',
					projectDesc: 'Шаблон сайта интернет-сервиса о кино. Содержит в себе блоки с трейлером и основоной информацией о кино, карусель "в тренде", модальные окна, новостные блоки, страницу с полной информацией о кино. Совместим с современными браузерами, страница полностью адаптивна.',
					workDetails: 'Адаптивная верстка, HTML5, CSS3, JavaScript, jQuery.',
					projectFeatures: 'Модальные окна, мобильная навигация, карусель OwlCarousel, Mobile First.',
					img: 'online-cinema',
					buttonPrev: 'project-metallex.html',
					buttonNext: 'project-lambda.html'}
					])

		include ../sections/_footer-inner.pug
	.background#background
	+mobile-nav()